# Dependencias
/node_modules/

# Directorios de build
/dist/
/out-tsc/

# Archivos de Angular CLI
.angular/

# Firebase hosting
/public/

# Archivos de DataConnect generados (si no quieres versionarlos)
/dataconnect-generated/

# Archivos de entorno (si no quieres exponerlos)
/src/environments/*.ts

# Logs y sistemas operativos
*.log
.DS_Store

# IDEs y editores
.vscode/
*.suo
*.ntvs*
