<mat-toolbar color="primary" class="nav-toolbar">
  <span class="logo" (click)="router.navigate(['/notes'])">📒 Notes</span>

  <span class="spacer"></span>

  <ng-container *ngIf="isLoggedIn$ | async">
    <button mat-button routerLink="/profile">
      <mat-icon>person</mat-icon> Perfil
    </button>

    <button mat-button routerLink="/notes">
      <mat-icon>note</mat-icon> Notas
    </button>

    <button mat-button *ngIf="isAdmin$ | async" routerLink="/admin">
      <mat-icon>admin_panel_settings</mat-icon> Admin
    </button>

    <button mat-button color="warn" (click)="logout()">
      <mat-icon>logout</mat-icon> Cerrar sesión
    </button>
  </ng-container>
</mat-toolbar>
